<div class="container">
  <div class="jumbotron" style="">
    <div style="text-align:center">
      <h1>
    {{title}}
      </h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-4" style="text-align:center">
    <div class="well" style="background-color:#DAF7A6">
      <app-form></app-form>
    </div>

  </div>
  <div class="col-lg-8">
    <div class="col-lg-6">
      <h1 style="font-size:20px; text-align:center; margin-top:-20px">{{display}}</h1>
      <div class="well" style="background-color:#16A085;overflow-y:auto; height:300px">
        <app-display></app-display>
      </div>
    </div>
  </div>
</div>
