@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Anton|Barlow+Condensed|Bitter|Josefin+Sans|Merriweather');
/*font-family: 'Barlow Condensed', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Bitter', serif;
font-family: 'Anton', sans-serif;
font-family: 'Josefin Sans', sans-serif;*/

*{
font-family: 'Merriweather', serif;
}

form{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}
